name: Auto Merge

on:
  workflow_run:
    workflows: ["CI Orchestrator"]
    types:
      - completed

jobs:
  merge:
    runs-on: ubuntu-latest
    if: ${{ github.event.workflow_run.conclusion == 'success' }}
    permissions:
      pull-requests: write
      contents: write
    steps:
      - name: ⤵️ Check out code
        uses: actions/checkout@v6
        with:
          fetch-depth: 0

      - name: Merge
        if: ${{ github.actor == 'dependabot[bot]' || github.actor == 'renovate[bot]' || github.actor == 'FaserF' }}
        env:
          GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: |
          gh pr merge --auto --merge ${{ github.event.workflow_run.pull_requests[0].number }}
