name: Maintenance

on:
  schedule:
    - cron: '0 0 * * 0' # Weekly

jobs:
  cleanup:
    runs-on: ubuntu-latest
    steps:
      - name: Delete old artifacts
        uses: geekyeggo/delete-artifact@v5
        with:
          name: '*'
